body {
    margin: 0;
    background-color: #161a1d;
    color: aliceblue;
}

table {
    border: 1px solid blue;
    padding: 0;
}

table td,
th,
tr {
    border: 1px solid blue;
    padding: 1rem;
}